variable "token" {
    default = ""
    description = "Cloud provider token"
}

variable "ssh_keys" {
    default = [""]
    description = "Key signature from digital ocean"
}

variable "region" {
    default = "ams3"
    description = "Digital ocean region"
}

variable "memory_master" {
    default = "512mb"
    description = "Ram amount for master node"
}

variable "memory_manager" {
    default = "512mb"
    description = "Ram amount for manager node"
}

variable "memory_slave" {
    default = "512mb"
    description = "Ram amount for slave node"
}


variable "cluster_manager_count" {
    description = "Number of manager instances for the cluster."
    default = 1
}

variable "cluster_node_count" {
    description = "Number of node instances for the cluster."
    default = 1 
}

variable "image" {
    description = "Image to use for droplet"
    default = "ubuntu-16-04-x64"
}


