variable "token" {
    default = ""
    description = "Cloud provider token"
}

variable "ssh_keys" {
    default = [""]
    description = "Key signature from digital ocean"
}

variable "cluster_manager_count" {
    description = "Number of manager instances for the cluster."
    default = 1
}

variable "cluster_node_count" {
    description = "Number of node instances for the cluster."
    default = 1 
}



